.carousel {
    width: 100%;
    height: auto;
    object-fit: contain;
}

@media (max-width: 780px) {
    .carousel {
        height: 30vh;
    }
}

@media (min-width: 1350px) {
    .carousel {
        height: 80vh;
    }
}