.navbar {
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: #862633;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    font-family: Helvetica;
}

.navbar-title {
    margin: 0;
}

.navbar-links {

    list-style: none;
    display: flex;
    gap: 100px;
    margin: 20px;
    padding: 8px;
}